*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}
body{
    display: flex;
    background: #f5f7fb;
}
.sidebar{
    width: 250px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding: 30px;
}
.sidebar h2{
    margin-bottom: 40px;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    padding: 15px 0;
    cursor: pointer;
}
.sidebar li:hover{
    color: #60a5fa;
}
.main{
    flex:1;
    padding: 40px;
}
.topbar h1{
    margin-bottom: 30px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}
.card{
    background:white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.card h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.upload-section{
    margin-top: 40px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.upload-btn{
    display: inline-block;
    margin-top:15px;
    padding:12px 25px;
    background:#2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}